<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Brave Location Blog - Web, Mobile and Big Data stuff"/>
<link rel="icon" href="/favicon.ico" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
{% capture contenthtml %}{% if page.content contains '%' %}Something New Every Day Home Page{% else %}{{ page.content | markdownify  }} ...{% endif %}{% endcapture %}
{% capture contentescaped %}{{ contenthtml | replace:'"',''  }}{% endcapture %}
{% capture contenttext %}{{ contentescaped | strip_html  }}{% endcapture %}
<link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css">
<link type="text/css" rel="stylesheet" href="/css/site.css" />
<link href="/rss.xml" rel="alternate" title="Something New Every Day" type="application/atom+xml" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-collapse.js"></script>

<link rel="shortcut icon" href="/images/favicon.png" />

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="http://www.bravelocation.com/images/BraveLocationSquare.png"/>
<meta property="og:site_name" content="Brave Location Blog - Web, Mobile and Big Data stuff"/>
<meta property="fb:app_id" content="125302614190821"/>
<meta property="og:description" content="{{ contenttext | truncatewords: 50, '' }}"/>

<link rel="canonical" href="http://somethingnew365.bravelocationstudios.com{{ page.url }}"  />