<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link type="text/css" rel="stylesheet" href="/css/site.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap-collapse.js"></script>

  <link href="/rss.xml" rel="alternate" title="Something New Every Day" type="application/atom+xml" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/rss.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Twitter cards -->
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="https://bravelocation.com/images/BraveLocationSquare.png"/>
  <meta property="og:site_name" content="Something new Every Day"/>
  <meta name="twitter:site" content="@{{ site.author.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
  <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
 
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="canonical" href="http://somethingnew365.bravelocationstudios.com{{ page.url }}"  />
</head>
